<%- include("../partials/header") %>
<div class="main-container">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="tabs-container tabs--vertical">
					<ul class="tabs">
						<li class="active">
							<div class="tab__title">
								<i class="icon icon--sm block icon-Love-User"></i>
								<span class="h5"><p>Mein Profil</p></span>
							</div>
							<div class="tab__content">
								<div class="boxed boxed--lg boxed--border">
									<div id="account-profile" class="account-tab">
										<h4>Profile</h4>
										<form action="/users/<%= user._id%>?_method=PUT" method="POST">>
											<div class="row">
												<div class="col-md-6">
													<label>Vorname:</label>
													<input
														type="text"
														name="user[firstName]"
														value="<%=user.firstName%>"
													/>
												</div>
												<div class="col-md-6">
													<label>Nachname:</label>
													<input
														type="text"
														name="user[lastName]"
														value="<%=user.lastName%>"
													/>
												</div>
												<div class="col-md-12">
													<label>Username:</label>
													<input
														type="text"
														name="user[username]"
														value="<%= user.username%>"
													/>
												</div>
												<div class="col-md-12">
													<label>Email:</label>
													<input
														type="email"
														name="user[email]"
														value="<%= user.email%>"
													/>
												</div>


												<div class="col-md-12">
													<label>Bio:</label>
													<textarea
														rows="4"
														name="user[bio]"
														value="<%=user.bio%>"
													></textarea>
												</div>
												<div class="col-md-12">
													<div
														class="input-checkbox input-checkbox--switch"
													>
														<input
															type="checkbox"
															name="public-profile"
															id="input-assigned-0"
														/>
														<label for="input-assigned-0"></label>
													</div>
													<span
														>Erlaube Besuchern dein Profil zu
														sehen</span
													>
												</div>
												<div
													id="account-password"
													class="account-tab"
												></div>
												<div class="col-lg-3 col-md-4">
													<button
														type="submit"
														class="btn btn--primary type--uppercase"
													>
														Speichern
													</button>
												</div>
											</div>
										</form>
										<hr />
										<h4>Passwort</h4>

										<form>
											<div class="row">
												<div class="col-12">
													<label>Altes Passwort:</label>
													<input type="password" name="old-password" />
												</div>
												<div class="col-md-6">
													<label>Neues Passwort:</label>
													<input type="password" name="new-password" />
												</div>
												<div class="col-md-6">
													<label>Wiederholung:</label>
													<input
														type="password"
														name="new-password-confirm"
													/>
												</div>
												<div class="col-lg-3 col-md-4">
													<button
														type="submit"
														class="btn btn--primary type--uppercase"
													>
														Passwort sichern
													</button>
												</div>
											</div>
										</form>
									</div>
									</div>
								</div>
								</li>
								<!-- <li>
									<div class="tab__title">
										<i class="icon icon--sm block icon-Target-Market"></i>
										<span class="h5"><p>Merkliste</p></span>
									</div>
									<div class="tab__content">
										<div class="container">
											<div class="row justify-content-center">
												<div class="row">
	<div class="col-md-12">



    	<div class="masonry">          
			<div class="masonry__container row masonry--active">
				
				<% campgrounds.forEach(function(campground){ %>
		
             <div class="masonry__item col-md-3 col-12 filter-digital" data-masonry-filter="Digital">
                                <div class="project-thumb hover-element border--round">
                                    <a href="/campgrounds/<%= campground._id %>">
                                        <div class="hover-element__initial">
                                            <div class="background-image-holder"> <img alt="background" src="<%= campground.image %>"> </div>
                                        </div>
                                        <div class="hover-element__reveal" data-scrim-top="5">
                                            <div class="project-thumb__title">
                                                <h4><%= campground.name %></h4> <span><%= campground.dauer%></span> </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
							<% }); %>
                          
			</div>
    	</div>
	</div>
																	</div>
																</div>
															</div>
														</div>
									
										
								</li>
						<li>
							<div class="tab__title">
								<i class="icon icon--sm block icon-Love-User"></i>
								<span class="h5"><p>Meine Rezepte</p></span>
							</div>
							<div class="tab__content">
								<div class="row">
	<div class="col-md-12">



    	<div class="masonry">          
			<div class="masonry__container row masonry--active">
				
				<% campgrounds.forEach(function(campground){ %>
		
             <div class="masonry__item col-md-4 col-12 filter-digital" data-masonry-filter="Digital">
                                <div class="project-thumb hover-element border--round">
                                    <a href="/campgrounds/<%= campground._id %>">
                                        <div class="hover-element__initial">
                                            <div class="background-image-holder"> <img alt="background" src="<%= campground.image %>"> </div>
                                        </div>
                                        <div class="hover-element__reveal" data-scrim-top="5">
                                            <div class="project-thumb__title">
                                                <h4><%= campground.name %></h4> <span><%= campground.dauer%></span> </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
							<% }); %>
							</div>
		</div></div></div></div>
						</li> -->
							
						<!-- <li>
							<div class="tab__title">
								<i class="icon icon--sm block icon-Text-Effect"></i>
								<span class="h5"><p>Präferenzen</p></span>
							</div>
							<div class="tab__content">
								<p class="lead">
									Allergene(Zutatenliste)(Autocomplete)<br />Checkbox für
									Vegetarisch, Vegan, und dabei als Unterhierarchie die(Mit
									Kategorien arbeiten) Zutaten auf Verbotsliste setzen(Dabei
									Zutaten erfassen)<br />
								</p>
								<p class="lead"></p>
							</div>
						</li>
						
						<li>
							<div class="tab__title">
								<i class="icon icon--sm block icon-Text-Effect"></i>
								<span class="h5"><p>Freunde</p> </span>
							</div>
							<div class="tab__content">
								<p class="lead">
									Profilverlinkung, Anzahl Rezepte, Name, entfolgen
								</p>
								<p class="lead"></p>
							</div>
						</li>

						<li>
							<div class="tab__title">
								<i class="icon icon--sm block icon-Text-Effect"></i>
								<span class="h5"><p>Admin</p> </span>
							</div>
							<div class="tab__content">
								<p class="lead">Neuen Admin hinzuf체gen</p>
								<p class="lead">
									Gemeldete Beitr채ge<br />User Suchen und bearbeiten
								</p>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%- include("../partials/footer") %>
</div>