<%- include("../partials/header") %></div>


	<div class="container">
<div class="row">
	<div class="col-md-12">



   <div class="masonry">          
			<div class="masonry__container  row masonry--active">
				
				<% recipes.forEach(function(recipe){ %>
		
           <div class="masonry__item col-md-3 col-12 filter-digital" data-masonry-filter="Digital">
			   <div class="card card-2 text-center">
                                    <div class="card__top">
                                        <a href="/recipes/<%= recipe._id %>"> <img alt="" src="<%=recipe.image%>"> </a>
                                    </div>
                                   
                                    <div class="card__bottom text-center">
                                        <div class="card__action"> <span class="h6 type--uppercase">Explore</span>
                                            <a href="/recipes/<%= recipe._id %>"> <i class="material-icons">flip_to_front</i> </a>
                                        </div>
										
                                        <div class="card__action"> <span class="h6 type--uppercase">Save</span>
                                            <a href="#"> <i class="material-icons">favorite_border</i> </a>
                                        </div>
                                    </div>
			   </div></div>
							<% }); %>
	   </div></div>
			</div>
    	</div>
		</div>
<%- include("../partials/footer") %>