<%- include("../partials/header") %>
<script type="text/javascript">
google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Makronährstoffe', 'Anteil (in Prozent)'],
          ['Kohlenhydrate',  <%=recipe.nährwerte.kohlenhydrate%>],
          ['Proteine',  <%=recipe.nährwerte.proteine%>],
          ['Fett', <%=recipe.nährwerte.fette%>],
        
        ]);
      var options = {
        legend: 'none',
        pieSliceText: 'label',
        title: 'Makronährstoffe',
        pieStartAngle: 0,
      };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
		
      }</script>
             <section class="cover height-80 imagebg text-center parallax" data-overlay="5">
                <div class="background-image-holder background--top"> <img alt="background" src="<%= recipe.image %>"> </div></section>
                <div class="container rezept">
                    <div class="row">
						<div class="col-md-8">
							<h1>
								<%=recipe.title %>
							</h1>
							<p>
								<%=recipe.shortdescription%>
							</p>
						</div>
						<div class="col-md-4">

						</div>
					</div>
					<hr>
					<div class="row">
						<div class="zutaten col-md-3">
							<h3 class="zutaten">
								Zutaten:
							</h3 >
							<% for (let i= 0; i<recipe.zutaten.length; i++){%>
							<p class="">
								<%= recipe.zutaten[i].menge %>
								<%= recipe.zutaten[i].einheit %>
								<%= recipe.zutaten[i].name %>
							</p>
						<%}%>
						</div>
						<div class="col-md-9">

							<div class="container">
								<div class="row">
									<!-- <div class="col-md-6" id="piechart" style="width: 500px; height: 400px;"></div> -->
									<div class="col-md-12">
										<div class="container">
											<ul>
											<div class="row">

											<li class="attribut col-md-2"><div class="">
												<div class="attribute">
											<span class="inhaltattribute"><%=recipe.dauer%></span>
												<span class="einheitattribute">min.</span>

										</div>
												<p class="beschreibungattribute">
												 Dauer
												</p>
												</div>
											</li>
											<li class="attribut col-md-2"><div class="">
												<div class="attribute">
											<span class="inhaltattribute"><%=recipe.aktivearbeitszeit%></span>
												<span class="einheitattribute">min.</span>

										</div>
												<p class="beschreibungattribute">
												 Aktive Arbeitszeit
												</p>
												</div>
											</li>
											<li class="attribut col-md-2"><div class="">
												<div class="attribute">
											<span class="inhaltattribute"><%=recipe.schwierigkeit%></span>
												<span class="einheitattribute"></span>

										</div>
												<p class="beschreibungattribute">
												 Schwierigkeit
												</p>
												</div>
											</li>


												<li class="attribut col-md-2"><div class="">

													<% if(recipe.kennzeichen.vegetarisch ==true) {%> <div class="attribute">
											<span class="inhaltattribute">V</span>
												<span class="einheitattribute"></span>
												
										</div>
													<p class="beschreibungattribute">
												 Vegetarisch
												</p>
		<% }%>											

													</div>
											</li>
												<li class="attribut col-md-2"><div class="">

													<% if(recipe.kennzeichen.vegan ==true) {%> <div class="attribute">
											<span class="inhaltattribute">V</span>
												<span class="einheitattribute"></span>
												
										</div>
													<p class="beschreibungattribute">
												 Vegan
												</p>
		<% }%>											

													</div>
											</li>
												</div>
										</ul>
										</div>

										</div>


									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<% for (i=0;i<recipe.schritte.length; i++){%>
									<p class="lead">
										<%= recipe.schritte[i]%>
										</p>		
									<%	}%>

										<hr>
										<form action="/recipes/<%= recipe._id %>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="Kommentiere das Rezept">
				</div>			
					<div class="form-group">
					<button class="btn btn--sm">
						Submit!
					</button>
				</div>
			</form>

											<hr>
											 <% recipe.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="float-right">10 days ago</span>
						<p>
							<%=comment.text%>
						</p>
						<% if(currentUser && recipe.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						<a class="btn btn--sm" href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit">Edit</a>
						<form class="delete-form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
						
							<input type="submit" class="btn btn__lg" value="Delete">
						</form>	<% } %>
					</div>
				</div>
			
			<% }); %> 
									</div>
								</div>
							</div>
						</div>
					</div>
				 </div>

<%- include("../partials/footer") %> 