<%- include("../partials/header") %>

              
        
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Text-Effect"></i> <span class="h5"><p>Zutaten</p></span> </div>
                                        <div class="tab__content">
											 <section class="text-center imagebg" data-overlay="4">
                <div class="background-image-holder"> <img alt="background" src="<%= recipe.image %>"> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h2>Section Title Centered</h2>
                            
                        </div>
                    </div>
                </div>
            </section>
                                            
                                            <p class="lead"> </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Target-Market"></i> <span class="h5"><p>Anleitung</p></span> </div>
                                        <div class="tab__content">
											<p class="lead">
												<%=recipe.description.schritt_1 %>
											</p>
											<p class="lead">
												<%=recipe.description.schritt_2 %>
											</p>
											<p class="lead">
												<%=recipe.description.schritt_3 %>
											</p>
											<p class="lead">
												<%=recipe.description.schritt_4 %>
											</p>
											<p class="lead">
												<%=recipe.description.schritt_5 %>
											</p>
											<p class="lead">
												<%=recipe.description.schritt_6 %>
											</p>
                                            <p class="lead">  </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <i class="icon icon--sm block icon-Love-User"></i> <span class="h5"><p>Kommentare</p></span> </div>
                                        <div class="tab__content">
                                            <a class="btn btn-success" href="/recipes/<%=recipe._id%>/comments/new">Add new comment</a>
											<hr>
											 <% recipe.comments.forEach(function(comment){ %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="float-right">10 days ago</span>
						<p>
							<%=comment.text%>
						</p>
						<% if(currentUser && recipe.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						<a class="btn btn-warning" href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit">Edit</a>
						<form class="delete-form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
						
							<input type="submit" class="btn btn-danger" value="Delete">
						</form>	<% } %>
					</div>
				</div>
			
			<% }); %> 
                                        </div>
                                    </li>
								
                                </ul>
						
<p class="card-text">
						<em>Hochgeladen von <a href="/users/<%= recipe.author.id %>"><%= recipe.author.username %></a></em>
					</p>
					<% if(currentUser && recipe.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					<a class= "btn btn-warning" href="/recipes/<%= recipe._id %>/edit">Edit</a>
					<form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger">Delete</button>
						
					</form>
				<%	} %>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="feature"> <img alt="Image" src="img/cowork-6.jpg" class="border--round">
                                <h4>Startups</h4>
                                <p> Quickly launch a professional site — minimal effort, maximum impact. </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature"> <img alt="Image" src="img/cowork-6.jpg" class="border--round">
                                <h4>Startups</h4>
                                <p> Quickly launch a professional site — minimal effort, maximum impact. </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature"> <img alt="Image" src="img/cowork-1.jpg" class="border--round">
                                <h4>Agencies</h4>
                                <p> Deliver results to your clients faster than ever with rapid page building. </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="feature"> <img alt="Image" src="img/education-1.jpg" class="border--round">
                                <h4>Freelancers</h4>
                                <p> Stack is your silent partner, it does the heavy-lifting while you take the glory! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      
<%- include("../partials/footer") %>